body{
    background-color: rgb(238, 245, 241);
    margin: 150px 300px;
    font-family: 'Roboto', sans-serif;
}

h1,h3{
    color:cadetblue;
}

ul{
    line-height: 1.8em;
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:cadetblue;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.projects {
    margin-right: 100px;
    border: 2px solid cadetblue;
    border-radius: 20px;
    box-shadow: 3px 6px cadetblue;
    padding: 15px 30px;
}

.exercises {
    border: 2px solid cadetblue;
    border-radius: 20px;
    box-shadow: 3px 6px cadetblue;
    padding: 15px 30px;
}

