*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 13px;
    line-height: 180%;
}

a:link, a:visited {
    text-decoration: underline;
    color: black;
}

a:hover {
    background-color: black;
    color: white;
}

header {
    padding: 1% 3%;
}

main {
    padding: 3%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
}

section {
    margin: 20px;
}

footer {
    margin: 50px;
    font-size: 6px;
    text-align: center;

}

img.logo {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
}

form {
    position: relative;
}

.searchBar {
    display: inline;
}


label {
    position: absolute;
    top: 5px;
    left: 30px;
    color: lightgray;
    cursor: text;
    font-size: 12px;
}

input {
    position: absolute;
    width: 60%;
    margin: 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
}

input:focus {
    width: 60%;
    margin: 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
}

input:focus~label {
    display: none;
}


.filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.collContent {
    display: none;
    font-size: 14px;
    line-height: 160%;
    padding: 0px 15px;
}

button {
    background-color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
    border: 0ch;
    margin: 10px;
    cursor: pointer;
}

button.collapsible {
    font-size: 16px;
}

button.filter-btn {
    line-height: 160%;
    display: block;
}


.active, .collapsible:hover {
    background-color: black;
    color: white;
}




.cardContainer {
    display: grid;
    grid-template-columns: repeat(8, 130px);
    grid-auto-rows: 130px;
    grid-gap: 10px;
}

@media (max-width: 960px){
    .cardContainer{
        grid-template-columns: repeat(6, 130px);
    }
}


.card {
    display: block;
}

.card.hide {
    display: none;
}



.description {
    width: 130px;
    height: 130px;
    position: absolute;
    visibility: hidden;
    color: white;
    padding: 10px;
}

.card:hover .description {
    visibility: visible;
}

.Green {
    background-color: rgba(0, 128, 0, 0.6);
}

.Red {
    background-color: rgba(165, 42, 42, 0.6);
}

.Khaki {
    background-color: rgba(184, 135, 11, 0.6);
}

.Grey {
    background-color: rgba(169, 169, 169, 0.6);
}

.Beige {
    background-color: rgba(245, 222, 179, 0.6);
}

.Orange {
    background-color: rgba(244, 165, 96, 0.6);
}

.Purple {
    background-color: rgba(147, 112, 216, 0.6);
}

.Pink {
    background-color: rgba(255, 182, 193, 0.6);
}

.Blue {
    background-color: rgba(135, 207, 235, 0.6);
}

.Brown {
    background-color: rgba(210, 105, 30, 0.6);
}