body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto', sans-serif;
}

h2{
    color:rgb(98, 187, 175);
    font-weight: 900;
    padding-top: 1em;
    padding-bottom: 1em;
}

h4{
    color:grey;
    font-weight: 300;
}

h6{
    color:grey;
    font-weight: 200;
}
p{
    font-weight: 400;
    line-height: 1.5em;
}

em{
    color:rgb(98, 187, 175);
    font-weight: 500;
}

strong{
    color:rgb(98, 187, 175);
    font-weight: 600;
}

a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:cadetblue;
}


.English, .Spanish{
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}


